
/*RECETEO CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

    /*INDEX- pag. principal*/

/* cuerpo */
.bady11{
    background-color: cornsilk;
}

/*Header secciones*/

.botonesSec{
    width: 100%;
    /* background-color: blanchedalmond;  */
}

.headerSecciones{
    width: 100%;
    height: 450px;
    overflow: hidden;
    /* background-color: #AD9567; */
    background-color: #AD9567;
}

.fondoSecciones{
    background-color: #fcfcfc;
    border: #ffffff;
}

.fondoSecciones:hover{
    background-color: rgb(247, 202, 134);
    transition:all 0.3s ease;    
}

/* Segunda parte inicio */

.mainInicio{
    margin: 2% 3% 2% 3%;
    color: black;
}

.acercaDe{
    background-color: rgb(216, 216, 216);
    margin: 1px;
    padding: 0.2%;
    color: black;
    font-size: 140%;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fondoCardDef{
    background-color: #ebc4197c;
    border: #ebc4197c 1px solid;
    padding: 0;
    margin: 2% 10% 2% 10%;
}

/* Tarjetas */

.card-img-top{
    width: 80px;
}

/* Suscribite */

.cajaInscripcion{
    display: flex;
    justify-content: center;
    /* margin: 10px 60px 10px 60px; */
    background-color: yellow;
}

.inscripcion{
    text-align: center;
    margin: 10px;
}

.botonInscripcion{
    color: rgb(71, 70, 70);
    background-color: #ffff00be;
    border-radius: 0.5px;
}

.botonInscripcion:hover{
    color: violet;
    background-color: rgb(216, 216, 216);
    transition:all 0.3s ease;    
}

/* cursos recientes */

.cursosRecient{
    background-color: rgb(216, 216, 216);
    margin: 1px;
    padding: 0.2%; 
    color: black;
    font-size: 140%;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
}

.cajaCursos{
    text-align: center;
    background-color: #cf5b0eb0;
}

.cajaCursosRecient{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 1%; 
    padding: 2% 4.5% 2% 0; 
}

.botonAqui{
    background-color: rgb(216, 216, 216);
    color: violet;
    border: grey;
}

.botonAqui:hover{
    color: violet;
    background-color: yellow;
    transition:all 0.3s ease;    
}

/* PIE de pagina general*/
.footer{
    text-align: center;
    font-size: 5px;
    margin-top: 200px;
    padding-bottom: 1%;
    background-color:#ccb8b2a4;
}

.colorTerminos{
    color: black;
}

.colorTerminos:hover{
    color: rgb(219, 91, 17);
}


        /*CURSOS*/

/* titulo cursos */
.titulo-cursos{
    background-color: rgb(216, 216, 216);
    margin: 10px 0 5px 0;
    padding: 0.2%; 
    color: black;
    font-size: 140%;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
}

.formatoCursos{
    background-color: #df7229;


}

/* EducacionArg */

.tituloEdArg{
    background-color: rgb(216, 216, 216);
    margin: 10px 0 5px 0;
    padding: 0.2%; 
    color: black;
    font-size: 140%;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
}

.cajaEducacion{
   margin: 0 10% 0 10%;
}

.cajaEducacion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 9% 10% 0;
    color: rgb(247, 96, 58);
}
.tarjetaEducacion{
    width: 10px;
    height: 400px;
}

        /*RECURSOS*/

.tituloRecursos{
    background-color: rgb(216, 216, 216);
    margin: 10px 0 5px 0;
    padding: 0.2%; 
    color: black;
    font-size: 140%;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
}

.card{
    margin-top: 3.5% ;
    margin-left: 10%;
}


.imageRecursos{
    width: 80%;
    height: 200px;
    margin-left: 10px;

}

   /*CONTACTO*/

.tituloContacto{
    background-color: rgb(216, 216, 216);
    margin: 10px 0 5px 0;
    padding: 0.2%; 
    color: black;
    font-size: 140%;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
}

.cajaForm{
    background-color: rgb(245, 199, 99);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5% 25% 5% 25%;
}

.nombreCursos123{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 32.6% 5% 32.6%;
}


/* MEDIA */

/* celulares */

/* @media screen and (max-width:400px) and (min-width:320px) {
    /* .body{
        background-image: linear-gradient(#f5f4f3f1,#f8d4abd7 );
        animation-iteration-count: infinite;
        display: flex;
        flex-direction: column;
    } */
    
    /* LOGO/ESLOGAN
    
    .encabezado{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: auto;
        width: 100%;
    }
    .encabezado a{
        overflow: hidden;
        width: 30%;
        height: auto;
    }
    
    .logotipo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    
    .encabezado h1{
        display: flex;
        align-items: center;
        margin-left: 1%;
        width: 100%;
        height: auto;
        color:#df7229;
        overflow: hidden;
        font-size: 80%;
        text-transform: uppercase;
    }
    
    
    /* LISTAS/SECCIONES
    
    .listasNav{
        display: inline-block;
        margin: auto;
        background-color:#f7d7ce;
        height: auto;
    }
    
    .secciones{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        align-items:flex-start;
        overflow: hidden;
        word-spacing: 180px;
        font-size: 16px;
        height: auto;
        margin-bottom: 0;
        width: 100%;
    }
    
    .secciones li{
        display: flex;
        flex-direction: column;
        font-family: 'Rubik', sans-serif;
    }
    
    .secciones li a{
        display: block;
        color: black;
        text-decoration: none;
    }
    
    .secciones li a:hover{
        color: rgb(235, 96, 41);
        transition:all 0.3s ease;
    }
    
        /* texto 
    
    
    .introduccionPrincipal{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        margin: 0 1% 5% 1%;
    }
    
    .quieneSomos{
        background-color: #ebd6d0;
        margin: 10px 3px 5px 3px;
        text-align: center;
        font-style: italic;
        font-size: 96%;
    }
    
    .quieneSomos:hover{
        transition: 3s;
        font-size: 99%;
    }
    
    /* ¿Como funciona? 
    
    .pregFunciona{
        background-color: rgba(240, 195, 180, 0.719);
        font-size: 150%;
        text-align: center;
        margin-top: 0.5%;
        margin-right: 5%;
        margin-left: 5%;
        letter-spacing: 1px;
        font-weight: normal;
    
    }
    .comoFunciona{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
        align-content: center;

        
    }
    .comoFunciona div{
        width: 70%;
        height: auto;
        overflow: hidden;
    }
    .comoFunciona div img{
        width: 100%;
        height: auto;
    }
    
    .imgFunciona1{
        width: 100%;
        height: 300px;
    }
    .imgFunciona2{
        width: 60%;
        height: 300px;
    }
    .imgFunciona3{
        width: 75%;
        height: 300px;
    }
    
    /* pie de foto 
    .texto{
        text-align: center;
        font-size: 103%;
        color: rgb(20, 20, 20);
        font-family: 'Rubik', sans-serif;
    }
    
    /* Educacion en pandemia 
    .educacion{
        background-color: rgba(240, 195, 180, 0.719);
        font-size: 130%;
        text-align: center;
        margin-top: 0.5%;
        margin-right: 5%;
        margin-left: 5%;
        letter-spacing: 1px;
        font-weight: normal;
    }
    .educacionPandemia{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
        align-content: center;
    }
    .educacionPandemia div{
        width: 70%;
        height: auto;
        overflow: hidden;
        
    }
    .educacionPandemia img{
        width: 100%;
        height: auto;
        margin: 1.5%;
    }
    
    /* PIE de pagina 
    .redesociales{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-size: 100%;
        margin-top: 200px;
        padding-bottom: 1%;
        background-color:#ccb8b2a4;
    }
}

/* Tablet 

@media screen and (min-width:768px) and (max-width:1023px){
    .body{
        background-image: linear-gradient(#f5f4f3f1,#f8d4abd7 );
        animation-iteration-count: infinite;
        display: flex;
        flex-direction: column;
    }
    
    /* LOGO/ESLOGAN
    
    .encabezado{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: auto;
        width: 100%;
    }
    .encabezado a{
        overflow: hidden;
        width: 25%;
        height: auto;
    }
    
    .logotipo{
        width: 90%;
        height: auto;
    }
    
    .encabezado h1{
        display: flex;
        align-items: center;
        margin-left: 0.5%;
        width: 100%;
        height: auto;
        color:#df7229;
        overflow: hidden;
        font-size: 150%;
        text-transform: uppercase;
    }
    
    
    /* LISTAS/SECCIONES
    
    .listasNav{
        display: inline-block;
        margin: auto;
        background-color:#f7d7ce;
        height: auto;
        width: 100%;
    }
    
    .secciones{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        align-items:center;
        overflow: hidden;
        word-spacing: 150px;
        font-size: 25px;
        height: 50px;
        margin-bottom: 0;
    }
    
    .secciones li{
        display: flex;
        flex-direction: column;
        font-family: 'Rubik', sans-serif;
    }
    
    .secciones li a{
        display: block;
        color: black;
        text-decoration: none;
    }
    
    .secciones li a:hover{
        color: rgb(235, 96, 41);
        transition:all 0.3s ease;
    }
    
        /* texto 
    
    
    .introduccionPrincipal{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        margin: 0 1% 2% 1%;
    }
    
    .quieneSomos{
        background-color: #ebd6d0;
        margin: 10px 3px 5px 3px;
        text-align: center;
        font-style: italic;
        font-size: 96%;
    }
    
    .quieneSomos:hover{
        transition: 3s;
        font-size: 99%;
    }
    
    /* ¿Como funciona? 
    
    .pregFunciona{
        background-color: rgba(240, 195, 180, 0.719);
        font-size: 150%;
        text-align: center;
        margin-top: 0.5%;
        margin-right: 5%;
        margin-left: 5%;
        letter-spacing: 1px;
        font-weight: normal;
    
    }
    .comoFunciona{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
        align-content: center;

        
    }
    .comoFunciona div{
        width: 60%;
        height: auto;
        overflow: hidden;
    }
    .comoFunciona div img{
        width: 100%;
        height: auto;
    }
    
    .imgFunciona1{
        width: 100%;
        height: 300px;
    }
    .imgFunciona2{
        width: 60%;
        height: 300px;
    }
    .imgFunciona3{
        width: 75%;
        height: 300px;
    }
    
    /* pie de foto 
    .texto{
        text-align: center;
        font-size: 120%;
        color: rgb(20, 20, 20);
        font-family: 'Rubik', sans-serif;
    }
    
    /* Educacion en pandemia 
    .educacion{
        background-color: rgba(240, 195, 180, 0.719);
        font-size: 150%;
        text-align: center;
        margin-top: 0.5%;
        margin-right: 5%;
        margin-left: 5%;
        letter-spacing: 1px;
        font-weight: normal;
    }
    .educacionPandemia{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
        align-content: center;
    }
    .educacionPandemia div{
        width: 60%;
        height: auto;
        overflow: hidden;
        
    }
    .educacionPandemia img{
        width: 100%;
        height: auto;
        margin: 1.5%;
    }
    
    /* PIE de pagina 
    .redesociales{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-size: 100%;
        margin-top: 200px;
        padding-bottom: 1%;
        background-color:#ccb8b2a4;
    }
}

/* escritorio 

@media screen and  (min-width:1024px){
    .body{
        background-image: linear-gradient(#f5f4f3f1,#f8d4abd7 );
        animation-iteration-count: infinite;
    }
    
    /* LOGO/ESLOGAN
    
    .encabezado{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: 210px;
        width: 100%;
    }
    .encabezado a{
        overflow: hidden;
        width: 25%;
        height: 220px;
    }
    
    .logotipo{
        width: 215px;
        /* width: 80%; 
        height: 210px;
    }
    
    .encabezado h1{
        display: flex;
        align-items: center;
        margin-left: 1%;
        width: 100%;
        height: 210px;
        color:#df7229;
        overflow: hidden;
        font-size: 270%;
        text-transform: uppercase;
    }
    
    
    /* LISTAS/SECCIONES
    
    .listasNav{
        margin: auto;
        background-color:#f7d7ce;
        text-align: center;
    }
    
    .secciones{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        align-items:center;
        overflow: hidden;
        word-spacing: 150px;
        font-size: 25px;
        height: 50px;
        margin-bottom: 0;
    }
    
    .secciones li{
        position: relative;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
    }
    
    .secciones li a{
        display: block;
        color: black;
        text-decoration: none;
    }
    
    .secciones li a:hover{
        color: rgb(235, 96, 41);
        transition:all 0.3s ease;
    }
    
        /* texto 
    
    
    .introduccionPrincipal{
        font-family: 'Rubik', sans-serif;
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    
    .quieneSomos{
        background-color: #ebd6d0;
        margin: 10px 3px 5px 3px;
        text-align: center;
        font-style: italic;
        font-size: 96%;
    }
    
    .quieneSomos:hover{
        transition: 3s;
        font-size: 99%;
    }
    
    /* ¿Como funciona? 
    
    .pregFunciona{
        background-color: rgba(240, 195, 180, 0.719);
        font-size: 160%;
        text-align: center;
        margin-top: 0.5%;
        margin-right: 5%;
        margin-left: 5%;
        letter-spacing: 1px;
        font-weight: normal;
    
    }
    .comoFunciona{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
        
    }
    .comoFunciona div{
        width: 29%;
        height: 300px;
        overflow: hidden;
    }
    .comoFunciona div img{
        width: 100%;
        height: 250px;
    }
    
    .imgFunciona1{
        width: 100%;
        height: 300px;
    }
    .imgFunciona2{
        width: 60%;
        height: 300px;
    }
    .imgFunciona3{
        width: 75%;
        height: 300px;
    }
    
    /* pie de foto 
    .texto{
        text-align: center;
        font-size: 120%;
        color: rgb(20, 20, 20);
        font-family: 'Rubik', sans-serif;
    }
    
    /* Educacion en pandemia 
    .educacion{
        background-color: rgba(240, 195, 180, 0.719);
        font-size: 150%;
        text-align: center;
        margin-top: 0.5%;
        margin-right: 5%;
        margin-left: 5%;
        letter-spacing: 1px;
        font-weight: normal;
    }
    .educacionPandemia{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
    }
    .educacionPandemia div{
        width: 29%;
        height: 300px;
        overflow: hidden;
    }
    .educacionPandemia img{
        width: 100%;
        height: 100%;
    }
    
    /* PIE de pagina 
    .redesociales{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-size: 100%;
        margin-top: 200px;
        padding-bottom: 1%;
        background-color:#ccb8b2a4;
    }
} */